.slider {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slider_content {
  transform: translateX(0px);
  transition: transform ease-out 0.45s;
  height: 100vh;
  width: 400%;
  display: flex;
}
.slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
