.page {
  min-height: 100%;
  display: flex;
}
.main-page {
  margin-left: clamp(64px, 4vw, 90px);
  min-height: 100%;
}
.main-page_header {
  display: flex;
  width: #{"max(550px, 50vw)"};
  flex-direction: row;
  justify-content: space-between;
  h1 {
    color: #0ec261;
    padding-left: clamp(32px, 4vw, 64px);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
  }
}
.main-page_geo {
  display: flex;
  align-items: center;
  p {
    margin: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999;
  }
}

.main-page_main {
  padding-top: clamp(50px, 20vh, 163px);
  width: #{"max(550px, 50vw)"};
  padding-left: clamp(32px, 4vw, 64px);
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;
    margin: 0;
    color: #121212;
  }
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;
    color: #0ec261;
    margin: 0;
  }
}
.main-page_main_footer {
  display: flex;
  width: #{"max(550px, 50vw)"};
  padding-left: clamp(32px, 4vw, 64px);

  justify-content: space-between;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #999;
  background: #fff;
  position: fixed;
  bottom: 0;
  margin-bottom: 32px;
  a {
    color: #121212;
    text-decoration: none;
    padding-right: 32px;
    &:hover {
      color: #0ec261;
    }
  }
}
.main-page_main_order {
  background: linear-gradient(
    90deg,
    hsl(148, 87%, 41%) 2.61%,
    hsl(158, 96%, 32%) 112.6%
  );
  background-blend-mode: darken;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  height: 48px;
  width: 250px;
  border: unset;
  &:hover {
    outline: none;
    background: linear-gradient(
      90deg,
      hsl(148, 77%, 41%) 2.61%,
      hsl(158, 86%, 32%) 112.6%
    );
  }
  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 767px) {
  .main-page_header {
    margin: 0;

    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    h1 {
      margin: 20px 0 0 0;
      padding: 0;
      padding-right: 16px;
    }
  }
  .main-page_geo {
    padding-right: 16px;
  }
  .main-page_main {
    margin: auto;
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    padding: 0;

    font-size: 18px;
    line-height: 21px;
    h1,
    h2 {
      font-size: 32px /*#{"min(32px, 10vw)"}*/;
      line-height: 100%;
      padding-left: 16px;
    }
    p {
      padding-left: 16px;
    }
  }
  .main-page_main_order {
    padding: 0;
    width: 100vw;
    border-radius: 0;
    margin-top: 14px;
  }
  .main-page_main_footer {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 72px;
    background: #151b1f;
    color: #eee;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
    p {
      margin: 0;
      padding-right: 16px;
    }
    a {
      color: #0ec261;
      &hover {
        color: #fff;
      }
    }
  }
}
