.order {
  margin-left: clamp(64px, 5vw, 90px);
  &_adress {
    width: #{"max(550px, 70vw)"};
    margin-left: clamp(64px, 5vw, 90px);
  }
  &_price {
    width: clamp(200px, 20vw, 287px);
    border-left: 1px solid #eeeeee;
    padding-left: 32px;
    h1 {
      font-size: 18px;
      line-height: 21px;
      text-align: right;
    }
    &_next {
      background: linear-gradient(
        90deg,
        hsl(148, 87%, 41%) 2.61%,
        hsl(158, 96%, 32%) 112.6%
      );
      width: 100%;
      color: #fff;
      &:hover {
        outline: none;
        background: linear-gradient(
          90deg,
          hsl(148, 87%, 31%) 2.61%,
          hsl(158, 96%, 22%) 112.6%
        );
      }
      &_pressed {
        &:hover {
          outline: none;
          background: linear-gradient(
            90deg,
            hsl(148, 87%, 25%) 2.61%,
            hsl(158, 96%, 12%) 112.6%
          );
        }
      }
    }
    &_prices {
      ul {
        padding: 0;
      }
    }
    &_list {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      margin-top: 16px;

      &_name {
        font-size: 14px;
        line-height: 16px;
        color: #121212;
        margin: 0;
        white-space: nowrap;
      }
      &_dots {
        border-bottom: #999999 dotted 1px;
        width: 100%;
      }
      &_value {
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        width: auto;
        height: auto;
        color: #999;
        margin: 0;
      }
    }
  }
}
